sudo: required
language: java
jdk:
- oraclejdk8
before_install:
    - sudo apt-get -qq update && sudo apt-get install -y --no-install-recommends texlive-fonts-recommended texlive-latex-extra texlive-fonts-extra dvipng texlive-latex-recommended
after_success:
    - bash <(curl -s https://codecov.io/bash)
install:
    - ./gradlew build --stacktrace --info
