<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.current_session_context_class">thread</property>
      <property name="hibernate.dialect">
          sample.database.SQLiteDialect
      </property>
      <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
      <property name="connection.url">jdbc:sqlite:/Users/czoeller/.recipes2pdf/database/database.db</property>
      <property name="show_sql">true</property>
      <property name="hbm2ddl.import_files">import.sql</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <mapping class="sample.model.Category"/>
      <mapping class="sample.model.Cookbook"/>
      <mapping class="sample.model.CookbookRecipe"/>
      <mapping class="sample.model.CookbookSortlevel"/>
      <mapping class="sample.model.Course"/>
      <mapping class="sample.model.Daytime"/>
      <mapping class="sample.model.Ingredient"/>
      <mapping class="sample.model.Nurture"/>
      <mapping class="sample.model.Rating"/>
      <mapping class="sample.model.Recipe"/>
      <mapping class="sample.model.RecipeIngredient"/>
      <mapping class="sample.model.Region"/>
      <mapping class="sample.model.Season"/>
      <mapping class="sample.model.Sortlevel"/>
      <mapping class="sample.model.Source"/>
      <mapping class="sample.model.Unit"/>

      <!-- <property name="connection.url"/> -->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
